$icomoon-font-path: "fonts" !default;

$bch-icon-app: "\e919";
$bch-icon-logo-credichile: "\e918";
$bch-icon-logo-edwards: "\e917";
$bch-icon-logo-banco: "\e608";
$bch-icon-logo-banchile: "\e601";
$bch-icon-mail: "\e900";
$bch-icon-avanzar: "\e901";
$bch-icon-ayuda: "\e902";
$bch-icon-bell: "\e903";
$bch-icon-celular: "\e904";
$bch-icon-cerrar: "\e905";
$bch-icon-check: "\e906";
$bch-icon-config: "\e907";
$bch-icon-editar: "\e908";
$bch-icon-error: "\e909";
$bch-icon-flecha-abajo: "\e90a";
$bch-icon-flecha-arriba: "\e90b";
$bch-icon-home: "\e90c";
$bch-icon-mas: "\e90d";
$bch-icon-menos: "\e90e";
$bch-icon-menu: "\e90f";
$bch-icon-ok: "\e910";
$bch-icon-salir-app: "\e911";
$bch-icon-selector: "\e912";
$bch-icon-telefono: "\e913";
$bch-icon-twitter: "\e914";
$bch-icon-volver: "\e915";
$bch-icon-youtube: "\e916";
$bch-icon-compartir: "\e91a";
